[Unit]
Description=Start ssh connection to remote tunnel

[Service]
Restart=always
RestartSec=30s
ExecStart=${cmd}

[Install]
WantedBy=default.target
