[Unit]
Description=Start ssh connection to remote tunnel

StartLimitIntervalSec=0
StartLimitBurst=5

[Service]
Restart=always
RestartSec=30s
ExecStart=${cmd}

[Install]
WantedBy=default.target
